<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donghwi lee</title>
    <link rel="stylesheet" href="style_pparn2.0.css">
  </head>
  <body>
    <header>
      <span>
        <input type=button
                value=home
                onclick="location.href='../index.html'">
      </span>
    </header>

    <h1>빠른일기2.0</h1>
    <span id="textblocksGrid">
          <div><a href="../text/pparn/210824.html">8.24</a></div>

        </span>

      
  </body>
  <footer style="font-size:x-small; text-align:center; margin-top:60px">
    &copy; 
    <script>
      document.write(new Date().getFullYear());
    </script> donghwi LEE
  </footer>
</html>
