html {
  max-width:600px;
  margin: 0 auto;
}
body {
    background-color:rgb(41,41,41);
    color: white;
    font-size: 15px;
    text-align: center;
  }
  a {
    color: white;
  }
  .DateText{
    display:flex;
    flex-direction:row; 
    flex-wrap:nowrap; 
    align-items:center;
    border:1px solid white;
  }
  .Date{
    font-size:12px;
    margin: 2px;
  }
  #memoText{
    border-left:1px solid white;
    padding: 1px 10px;
    font-size:small;
  }

  input[type="button"]{
    display:flex; 
    justify-content: left;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size:smaller;
    font-weight:300;
}
input[type="button"]:hover{
  background-color:darkslategray;
}