<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donghwi lee</title>
    <link rel="stylesheet" href="style_textblocks.css">
  </head>

  <body>
    <header>
      <input type=button
                value=home
                onclick="location.href='../index.html'">
      </span>
    </header>

    <h1>단락글(기타)</h1>

    <span id="textblocksGrid">
        <style>

        </style>
          <div><a href="https://donghwilee.com/14289">대상 없음: 현시원의 열한 페이지</a></div>
          <div><a href="https://donghwilee.com/13945">Desire as D</a></div>
          <div><a href="https://donghwilee.com/13091">[체르노빌]: 한 가지 관찰과 해석</a></div>
          <div><a href="https://donghwilee.com/12183">월터 화이트와 헤어지기</a></div>
          <div><a href="https://donghwilee.com/10737">도둑 맞은 ‘D’에 관한 세미나</a></div>
          <div><a href="https://donghwilee.com/10417">모두안녕...zzz</a></div>
          <div><a href="https://donghwilee.com/9519">편견과 기질</a></div>
          <div><a href="https://donghwilee.com/9275">‘층간소음’ 없는 방</a></div>

        </span>

  </body>
  <footer style="font-size:x-small; text-align:center; margin-top:60px">
    &copy; 
    <script>
      document.write(new Date().getFullYear());
    </script> donghwi LEE
  </footer>
</html>
