<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donghwi lee</title>
    <link rel="stylesheet" href="style_textblocks.css">
  </head>
  <body>
    <header>
      <span>
        <input type=button
                value=home
                onclick="location.href='../index.html'">
      </span>
    </header>

    <h1>단락글(예술이론)</h1>
    <span id="textblocksGrid">
          <div><a href="https://donghwilee.com/14466">예술작품 개념과 ‘예술작품성’― ‘엉덩이’의 댓글에 답하기</a></div>
          <div><a href="https://donghwilee.com/14406">[번역] 예술은 게임이다: 왜 중요한 건 애쓰는 일인가</a></div>
          <div><a href="https://donghwilee.com/14380">먼지가 뭔지: 이다민의 ‘먼지란 무엇인가’에 또 부쳐 </a></div>
          <div><a href="https://donghwilee.com/13826">예술이론의 순환성 (분석미학 비판?)</a></div>
          <div><a href="https://donghwilee.com/13751">예술이론의 언어3/3: 사변의 검증</a></div>
          <div><a href="https://donghwilee.com/13721">예술이론의 언어2: 언어를 선택함</a></div>
          <div><a href="https://donghwilee.com/13660">예술이론의 언어</a></div>
          <div><a href="../text/textblocks1/art_and_concept.html">예술과 개념</a></div>
          <div><a href="../text/textblocks1/death_of_artwork.html">작품의 죽음</a></div>
    </span>

      
  </body>
  <footer style="font-size:x-small; text-align:center; margin-top:60px">
    &copy; 
    <script>
      document.write(new Date().getFullYear());
    </script> donghwi LEE
  </footer>
</html>
