<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donghwi lee</title>
    <link rel="stylesheet" href="style_pparn2.0.css">
  </head>
  <body>
    <header>
      <span>
        <input type=button
                value=home
                onclick="location.href='../../index.html'">
      </span>
      <span id="current_MMDD_HHMM">00-00 00:00</span>
    </header>
    <h1>빠른일기2.0</h1>
    <span id="pparnGrid"></span>
  </body>
  <footer style="font-size:x-small; text-align:center; margin-top:60px">
    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script> donghwi LEE
  </footer>
  <script src="./CalendarClock.js"></script>
  <script src="./pparnGrid.js"></script>
</html>
