<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donghwi lee</title>
    <link rel="stylesheet" href="../../styles/style_textblocks1_2.css">
  </head>

  <body>
    <header>
      <input type=button
                value=home
                onclick="location.href='../../index.html'">
      </span>
    </header>

    <h1>단락글(기타)</h1>

    <span id="textblocksGrid"></span>

  </body>
  <footer style="font-size:x-small; text-align:center; margin-top:60px">
    &copy; 
    <script>
      document.write(new Date().getFullYear());
    </script> donghwi LEE
     <script src=textblocks2Grid.js></script>
  </footer>
</html>
