@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


body {
    width:102vw;
    margin-left:-5px;
    background-color:rgb(41,41,41);
    color:white;
    font-family: 'Pretendard';
    font-weight:lighter;
    font-size:18px;
}
article{
    width: 50%;
    margin: auto;
}
h1 {
    padding:10px;
}
h3{
    margin-top:0;
    margin-bottom:10px;
}
    @media(max-width: 900px){
        article{
            width:100%;
            margin:0;
        }
    }   
a{
    color:sandybrown;
}

div{
    padding-top: 2vh;
    height:fit-content;
    padding-bottom: 10px;
    padding-left: 2vw;
}
.book_set{
    padding-bottom: 20px;
    padding-left:0px;
}

.thumbnail{
    border: none;
    padding:0;
    display:inline;
    position:absolute;
}
.thumbnail figure{
    margin:0;
}
.thumbnail img {
    width:50px
}

.book_info{
    font-size:20px;
    font-weight:medium;
    border: none;
    display:inline-block;
    margin-left: 60px;
    padding-left:0px;
    padding-top:0;
    padding-right:15px;
}

div.content {
    padding-left:0;
    margin-right:3px;
    font-size:smaller
}

.content ul{
    padding-left:0;
}

.content ul li{
    list-style-type:disc;
}


li{
    padding-bottom: 7.5px;
    margin-right: 10px;
    font-weight:lighter;
    list-style-type:none;

}
ol, ul{
    margin-top: 0;
}
ul li p{
    margin:0;
    padding-left:20px;
}
li ul li{
    padding-bottom:0;
    margin-right:10px;
    list-style-type: none;
}
.inline-ul{
    margin:0;
    padding-top:0; 
}
.inline-ul li{
    display:inline;
    margin-right:10px;
}

.inner_div{
    padding-bottom: 0vh;
}

.white_block{
    font-weight:normal;
    background-color: white;
    color: rgb(41,41,41);
}

button div{
    padding:0; 
    margin:0; 
    margin-right:10vw;
}

.book-cover {
    width: 100%;
    max-width: 200px;
}

.collapsible button div ul li {
    font-weight:bold;
}


#logo figure{
    margin:0;
}

#quote{
    width:90%;
    overflow-wrap: break-word;
    padding-bottom:0;
}

#quote_text{
    padding-bottom:20;
    padding:0;
    width:100%;
    font-size: 14px;
    line-height:21px;
}
#quote_title{
    font-size:14px;
    margin-left:0;
    width:90%;
}
#refresh_button{
    width:95%;
    text-align:right;
    margin-right:10px;
    padding:0;
}
#refresh_button button{
    border:none;
    background-color:#292929;
    color:sandybrown;
    font-size:40px;
    font-weight:100;
}

#refresh_button button:hover{
    cursor:pointer;
    text-decoration:underline;
}


.fade-in-box {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  .contact { 
      padding:0;
  }
  .contact_email{
      font-size:18px;
      padding:0;
      font-weight:lighter;
      margin-bottom:10px;
  }
  .contact_sns {
      display:inline-block;
      font-size:18px;
      padding:0;
  }