@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
    background-color:rgb(41,41,41);
    color:white;
    font-family: Pretendard;
    font-weight:lighter;
    }
h1 {
    padding:10px;
    font-weight: normal;
    }
@media(max-width: 510px){
    h1{
        text-align:left;
        font-size: 20px;
        font-weight: normal;
    }
}
a{
    color:sandybrown;
}
div{
    padding-top: 2vh;
    padding-bottom: 7vh;
    padding-left: 2vw; 
}
.inner_div{
    padding-bottom: 0vh;
}

.white_block{
    font-weight:normal;
    background-color: white;
    color: rgb(41,41,41);
}

#twitterIcon, #WordpressIcon{
    color:inherit;
}
#twitterIcon:hover, #WordpressIcon:hover{
    color:#1d9bf0;
}