@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
    max-width:600px;
    margin: 0 auto;
    background-color:rgb(41,41,41);
    color:white;
    font-family: Pretendard;
    font-weight:lighter;
    }
h1, h2{
  text-align:center;
  font-weight: normal;
}
h3{
  font-weight: normal;
}
h4{
  text-align:right;
}
h2{
  margin-top:60px;
}
article{
  font-size: 18px;
  line-height: 200%;
}
li{
  font-size:medium;
  }
a{
      color:sandybrown;
    }
@media(max-width: 510px){
h1{
  text-align:left; font-weight: normal;
}
}
input[type="button"]{
    display:flex; 
    justify-content: left;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size:smaller;
    font-weight:300;
}
input[type="button"]:hover{
  background-color:darkslategray;
}