@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
    max-width:600px;
    margin: 0 auto;
    background-color:rgb(41,41,41);
    color:white;
    font-family: Pretendard;
    font-weight:lighter;
    }
a {
    text-decoration-line: none;    
    color: white;
  }
#textblocksGrid{
      /*display:grid;
      grid-template-columns: 1fr 1fr 1fr; */
  }
div{
    text-align:center;
    font-size:15px;
    border-bottom:0.5px solid white;
    padding:2px;
    padding-top:2vh;
    padding-bottom:1vh;
    margin-bottom:10px;
}
    div:hover{
    background-color:darkslategray;
}
  /*@media(max-width: 510px){
    h1{
      text-align:left;
    }
    #textblocksGrid{
        display:grid;
        grid-template-columns: 1fr 1fr;        
    }
    div{
      text-align:center;
      border:1px solid white;
      padding-top:9vh;
        padding-bottom:9vh;
    }
}*/
input[type="button"]{
    display:flex; 
    justify-content: left;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size:smaller;
    font-weight:300;
}
input[type="button"]:hover{
  background-color:darkslategray;
}